<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "zh-CN" }}" data-theme="{{ .Site.Params.theme | default "" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>

  <link rel="stylesheet" href="/css/main.css" />

</head>
<body>
  <div id="app">
    {{- partial "header.html" . -}}
    <div id="wrapper">
      {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
  </div>
</body>

</html>
