@use 'variable' as *;

$themes: (
  "dark": (
    primary: $primary,
    secondary: $primary,
    tertiary: $primary,
    surface: $black,
    surface-variant: $black,
    background-primary: #18191a,
    background-secondary: $black,
    background-tertiary: #333,
    overlay: rgba($black, 0.46),
    on-primary: $white,
    on-secondary: $white,
    on-surface: $white,
    on-background: $white,
    on-error: $black,
    text-primary: $white,
    text-secondary: #e6e6e6,
    text-tertiary: #E0E0E0,
    text-disabled: rgba($white, 0.38),
    border: #e6e6e6,
    border-variant: #E0E0E0,
  ),
  "light": (
    primary: $primary,
    secondary: $primary,
    tertiary: $primary,
    surface: $white,
    surface-variant: #ECEFF1,
    background-primary: #f3f3f3,
    background-secondary: #fefefe,
    background-tertiary: rgb(246, 248, 250),
    overlay: rgba($black, 0.46),
    on-primary: $white,
    on-secondary: $white,
    on-surface: $black,
    on-background: $black,
    on-error: $black,
    text-primary: #212121,
    text-secondary: #333,
    text-tertiary: #757575,
    text-disabled: rgba($black, 0.38),
    border: #e6e6e6,
    border-variant: #E0E0E0,
  ),


)
